#theword {
  display: none;
  margin: 10px;
  border: 2px solid black;
  padding: 34px;
  background-color: white;
  width: 400px;
  height: 550px;
  font-style: italic
}

#h1 {
  font-style: italic
}
